@use "../global/color" as *; 

.bx-btn {
    position: relative;
    display: inline-block;
   padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: $color-green-2;
    box-shadow: inset 0 0 0 0 #000;
    border: none;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;

    &:hover {

        box-shadow: inset 0 0 0 50px #000;
    }
}

.focus\:outline-none:focus {
    --tw-outline-style: none;
    outline-style: none;
}

.focus\:ring-primary-300:focus {
    --tw-ring-color: none;
}

.bx-sidebar-group li  svg{
// justify-self: start;
}


.bx-view-more {
  background-image:linear-gradient(to right, #007f32, #15863d 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
font-family: var(--font-lato);
  font-weight: 800;
    font-size: 13px;

  &::before{
  content: '';
  background:#005b32;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

&:hover {
 background-position: 0;
 &::before{
  width: 100%;
}
}

}




