@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";

/* Tailwind plugins */
/* @plugin "@tailwindcss/forms";
@plugin "flowbite-react/plugin"; */

/* Flowbite class source */
@source "../../.flowbite-react/class-list.json";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 1px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	background-color: #018d39;
}

.ql-container.ql-snow {
  min-height: 50px;
}

.ql-editor {
  min-height:150px;
}

.bx-course-slider .swiper-wrapper{
  padding-top: 12px;
}

:focus-visible {
    outline: 0px;
}